{% extends 'base.html.twig' %}

{% block title %}Bienvenu!{% endblock %}

{% block body %}
    <div class="center-center">
        <h1>Bienvenue sur le mauvais coin (coin coin)</h1>
    </div>
{% endblock %}
